
.menu-node-menu:before {
  font-family: FontAwesome !important;
  content: "\f0c9" !important;
}

.menu-node-menu-registry:before {
  font-family: FontAwesome !important;
  content: "\f187" !important;
}

.menu-node-menu-registry-customer:before {
  font-family: FontAwesome !important;
  content: "\f007" !important;
}