
.menu-node-admin:before {
  font-family: FontAwesome !important;
  content: "\f013" !important;
}

.menu-node-admin-security:before {
  font-family: FontAwesome !important;
  content: "\f132" !important;
}

.menu-node-admin-security-users:before {
  font-family: FontAwesome !important;
  content: "\f0c0" !important;
}

.menu-node-admin-security-roles:before {
  font-family: FontAwesome !important;
  content: "\f084" !important;
}
